<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title><%= title %></title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link rel="stylesheet" type="text/css" href="media/css/select2_metro.css" />

	<link rel="stylesheet" href="media/css/DT_bootstrap.css" />

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-inverse navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="query">

				<img src="media/image/logo.png" alt="logo" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              
<!-- -->

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->        
			<ul class="page-sidebar-menu">
				<li class="">

					<a href="javascript:;">

					<i class="icon-table"></i> 

					<span class="title">球星卡管理</span>

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">
						<li class="">

							<a href="/admin/managerquery">

							 管理员卡片管理</a>

						</li>
						<li class="">

							<a href="/admin/commonquery">

							 普通商家卡片管理</a>

						</li>

						<li class="">

							<a href="/admin/starcardAdd">

							信息添加</a>

						</li>


					</ul>

				</li>

				<li class="">

					<a href="javascript:;">

						<i class="icon-table"></i> 

						<span class="title">人员管理</span>

						<!-- <span class="selected"></span> -->

						<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">
						<li>

							<a href="/webUser/query">人员查询、删除、修改</a>

						</li>

						<li class="">

							<a href="/webUser/add">人员增加</a>

						</li>
						<li class="">

							<a href="/webUser/getmanager">管理员管理</a>

						</li>


					</ul>

				</li>
				<li class="active">

					<a href="javascript:;">

						<i class="icon-table"></i> 

						<span class="title">订单管理</span>

						<!-- <span class="selected"></span> -->

						<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">
						<li>
							<a href="/webOrder/query">订单查询、删除、修改</a>
						</li>
						<li class="active">
							<a href="/webOrder/managerquery">管理员用户订单管理</a>
						</li>
						<li>
							<a href="/webOrder/commonquery">普通用户订单管理</a>
						</li>

					</ul>

				</li>
				<li class="">

					<a href="javascript:;">

						<i class="icon-table"></i> 

						<span class="title">百科管理</span>

						<!-- <span class="selected"></span> -->

						<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">
						<li>
							<a href="/webWiki/add">百科增加</a>
						</li>
						<li>
							<a href="/webWiki/query">百科查询、删除、修改</a>
						</li>
						<li>
							<a href="/webWiki/check">百科审核</a>
						</li>
						<li>
							<a href="/webWiki/lock">百科锁定</a>
						</li>
					</ul>

				</li>
				<li class="">

					<a href="javascript:;">

						<i class="icon-table"></i> 

						<span class="title">新闻管理</span>

						<!-- <span class="selected"></span> -->

						<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">
						<li>
							<a href="/kindeditor/nodejs/newsAdd.html">新闻增加</a>
						</li>
						<li>
							<a href="/kindeditor/nodejs/newsManage.html">新闻查询、删除、修改</a>
						</li>
					</ul>

				</li>
				<li class="">

					<a href="javascript:;">

						<i class="icon-table"></i> 

						<span class="title">消息推送</span>

						<!-- <span class="selected"></span> -->

						<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">
						<li class="">
							<a href="/webNews/message">消息推送</a>
						</li>
						<li class="">
							<a href="/webNews/messagelist">消息管理</a>
						</li>
					</ul>

				</li>
				<li class="">

					<a href="javascript:;">

						<i class="icon-table"></i> 

						<span class="title">广告管理</span>

						<!-- <span class="selected"></span> -->

						<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">
						<li class="">
							<a href="/kindeditor/nodejs/advAdd.html">广告增加</a>
						</li>
						<li class="">
							<a href="/kindeditor/nodejs/advManage.html">广告查询、删除、修改</a>
						</li>
					</ul>

				</li>
				<li class="">

					<a href="javascript:;">

						<i class="icon-table"></i> 

						<span class="title">客服信息</span>

						<!-- <span class="selected"></span> -->

						<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">
						<li class="">
							<a href="/webService/checksv">未处理客服信息</a>
						</li>
						<li class="">
							<a href="/webService/allsv">所有客服信息</a>
						</li>
					</ul>

				</li>


			</ul>
			<!-- END SIDEBAR MENU -->

		</div>

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->        

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							信息查询、删除、添加

						</h3>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div id="query" class="row-fluid">

					<div class="span6 responsive" style="width:100%" data-tablet="span12 fix-offset" data-desktop="span6">

						<!-- BEGIN EXAMPLE TABLE PORTLET-->

						<div class="portlet grey">

							<div class="portlet-title">

								<div class="caption"><i class="icon-user"></i>订单信息查询结果</div>

								<div class="actions">

									<!-- <a href="/admin/query" class="btn blue"> 查询球星卡信息</a> -->

								</div>

							</div>
							<form id='formQueryByStatus' action="/webOrder/queryM" method="post" class="form-horizontal">
									
									<div class="form-actions" style="padding-left:0">
										<label  class="control-label" style="margin-right:0,margin-left:0">根据订单状态查询:</label>
										<select style="float:left" id='statusQ' class="" name="status" style="margin-left:0px">
											<option value="4">全部</option>
											<option value="0">待付款</option>
											<option value="1">待发货</option>
											<option value="2">待收货</option>
											<option value="3">交易完成</option>
										</select>
										<button style="margin-left:5%" type="submit" class="btn blue"><i class="icon-ok"></i> 订单信息查询</button>
										<!-- <button type="button" class="btn">取消</button> -->
									</div>
							</form>
							<div  class="portlet-body">

								<table class="table table-striped table-bordered table-hover" id="sample_2">

									<thead>

										<tr>
											<!-- cardid seller buyer status card_price logistic_price ordertype  -->
											<!--列表中未展示 logistic  logistic_no alipay_id   card_num message  addr_id receive_time-->
											<th class="hidden-480">序号</th>
											<th class="hidden-480">订单号</th>
											<th class="hidden-480">卖家手机号</th>
											<th class="hidden-480">买家手机号</th>
											<!-- <th class="hidden-480">物流</th>  -->
											<!-- <th class="hidden-480">运单号</th> -->
											<th class="hidden-480">运单状态</th>
											<th class="hidden-480">总价</th>
											<th class="hidden-480">运费</th>
											<!-- <th class="hidden-480">卡片数</th>
											<th class="hidden-480">消息</th> -->
											<!-- <th class="hidden-480">订单类型</th> -->
											<th class="hidden-480">交易时间</th>
											
											<!-- <th class="hidden-480">地址id</th> -->
											<!-- <th class="hidden-480">支付宝订单</th> -->
											<!-- <th class="hidden-480">收货时间</th> -->
											<th class="hidden-480">详情</th>
											<th class="hidden-480">删除</th>
											<th class="hidden-480">修改</th>
											<th class="hidden-480">备注信息</th>

										</tr>

									</thead>

									<tbody>

									</tbody>
									<!-- <button>测试</button> -->
								</table>

								<!-- <button id="batchPay">勾选批量打款</button> -->
								<button id="saveBtn">订单生成.csv文件</button>
								<div style="display:none">
									<textarea hidden rows="6" style="width:80%" id="content_csv">卡片id,订单状态,卡片总价,物流价格,卡片数量</textarea>
								</div>
								<!-- <label class="control-label" >运单状态查询:</label>
								<select id='statusQ' class="small m-wrap"  name="statusQ">
									<option value="-1">全部</option>
									<option value="0">待付款</option>
									<option value="1">待发货</option>
									<option value="2">待收货</option>
									<option value="3">交易完成</option>

								</select>
								<button style="margin-left:10%">查询</button> -->
								
								
							</div>

						</div>

						<!-- END EXAMPLE TABLE PORTLET-->

					</div>

					

				</div>

				

				<!-- END PAGE CONTENT-->
				<!-- ************************************************************** -->
				<!-- BEGIN PAGE CONTENT-->

				<div id='update' class="row-fluid" hidden=true>

					<div class="span12">

						<!-- BEGIN SAMPLE FORM PORTLET-->   

						<div class="portlet box blue tabbable">

							<div class="portlet-title">

								<div class="caption">

									<i class="icon-reorder"></i>

									<span class="hidden-480">修改卡片信息列表</span>

								</div>

							</div>

							<div class="portlet-body form">

								<div class="tabbable portlet-tabs">

									<ul class="nav nav-tabs">

										<li><a href="">信息修改</a></li>
									</ul>

									<div class="tab-content">

										<div class="tab-pane active" id="portlet_tab1">

											<!-- BEGIN FORM-->

											<form id='formUpdate' action="/webOrder/update" method="post" class="form-horizontal">

												<div disable class="control-group">

													<label class="control-label" >订单id:</label>

													<div class="controls">

														<input disabled id='orderid' type="text" class="m-wrap meduium" name="orderid" />
													</div>

												</div>
												<div class="control-group">

													<label class="control-label" >卡片总价:</label>

													<div class="controls">

														<input id='card_price' type="text" class="m-wrap meduium" name="card_price" />

													</div>

												</div> 

												<div class="control-group">

													<label class="control-label">运费:</label>

													<div class="controls">

														<input id='logistic_price' type="text"  class="m-wrap medium" name="logistic_price" />
														<span class="help-inline">单位/元</span>

													</div>

												</div>
												<div class="control-group">

													<label class="control-label">卡片数量:</label>

													<div class="controls">

														<input id='card_num' type="text"  class="m-wrap medium" name="card_num" />
														<span class="help-inline">单位/个</span>

													</div>

												</div>
												<div class="control-group">

													<label class="control-label">消息:</label>

													<div class="controls">

														<input id='message' type="text"  class="m-wrap medium" name="message" />
													</div>

												</div>
												<div class="control-group">

													<label class="control-label">订单状态:</label>

													<div class="controls">

														<select id='status' class="small m-wrap"  name="status">

															<option value="0">待付款</option>
															<option value="1">待发货</option>
															<option value="2">待收货</option>
															<option value="3">交易完成</option>

														</select>

													</div>

												</div>
												<div class="form-actions">

													<button id="updateSubmit" type="submit" class="btn blue"><i class="icon-ok"></i> 订单信息修改</button>
													<!-- <button type="button" class="btn">取消</button> -->

												</div>

											</form>

											<!-- END FORM-->  

										</div>

									</div>

								</div>

							</div>

						</div>

						<!-- END SAMPLE FORM PORTLET-->

					</div>

				</div>

				<!-- END PAGE CONTENT-->         
				<!-- 详细信息查看-->

				<div id='detail' class="row-fluid" hidden=true>

					<div class="span12">

						<!-- BEGIN SAMPLE FORM PORTLET-->   

						<div class="portlet box blue tabbable">

							<div class="portlet-title">

								<div class="caption">

									<i class="icon-reorder"></i>

									<span class="hidden-480">详细信息查看</span>

								</div>

							</div>

							<div class="portlet-body form">

								<div class="tabbable portlet-tabs">

									<ul class="nav nav-tabs">

										<li><a href="">信息查看</a></li>
									</ul>

									<div class="tab-content">

										<div class="tab-pane active" id="portlet_tab1">

											<!-- BEGIN FORM-->

											<form id='formDetail' action="" enctype="multipart/form-data" method="post" class="form-horizontal">
												<div class="control-group">

													<label class="control-label" >订单id:</label>

													<div class="controls">

														<input disabled id='orderidD' type="text" class="m-wrap large" name="orderid" />
													</div>

												</div>
												<div class="control-group">

													<label class="control-label" >卡片id:</label>

													<div class="controls">

														<input disabled id='cardidD' type="text" class="m-wrap large" name="cardid" />

														<!-- <span class="help-inline">Some hint here</span> -->

													</div>

												</div>
												<div class="control-group">

													<label class="control-label" >卖家手机号:</label>

													<div class="controls">

														<input disabled id='sellerD' type="text" class="m-wrap large" name="seller" />
													</div>

												</div>
												<div class="control-group">

													<label class="control-label" >买家手机号:</label>

													<div class="controls">

														<input disabled id='buyerD' type="text" class="m-wrap large" name="buyer" />
													</div>

												</div>
												<div class="control-group">

													<label class="control-label" >订单状态:</label>

													<div class="controls">

														<input disabled id='statusD' type="text" class="m-wrap medium" name="status" />
													</div>

												</div>

												<div class="control-group">

													<label class="control-label" >交易日期:</label>

													<div class="controls">

														<input disabled id='create_timeD' type="text" class="m-wrap medium" name="receive_time" />
													</div>

												</div>

												<div class="control-group">

													<label class="control-label" >卡片总价:</label>

													<div class="controls">

														<input disabled id='card_priceD' type="text" class="m-wrap medium" name="card_price" />

													</div>

												</div> 
												<div class="control-group">

													<label class="control-label" >物流价格:</label>

													<div class="controls">

														<input disabled id='logistic_priceD' type="text" class="m-wrap medium" name="logistic_price" />

													</div>

												</div> 
												<div class="control-group">

													<label class="control-label" >订单类型:</label>

													<div class="controls">

														<input disabled id='ordertypeD' type="text" class="m-wrap medium" name="ordertype" />

													</div>

												</div> 
												<div class="control-group">

													<label class="control-label" >物流:</label>

													<div class="controls">

														<input disabled id='logisticD' type="text" class="m-wrap medium" name="logistic" />

													</div>

												</div> 
												<div class="control-group">

													<label class="control-label" >运单号:</label>

													<div class="controls">

														<input disabled id='logistic_noD' type="text" class="m-wrap medium" name="logistic_no" />

													</div>

												</div> 
												<div class="control-group">

													<label class="control-label" >卡片数量:</label>

													<div class="controls">

														<input disabled id='card_numD' type="text" class="m-wrap medium" name="card_num" />
													</div>

												</div> 
												<div class="control-group">

													<label class="control-label" >支付宝订单编号:</label>

													<div class="controls">

														<input disabled id='alipay_idD' type="text" class="m-wrap medium" name="alipay_id" />
													</div>

												</div>
												<div class="control-group">

													<label class="control-label">信息:</label>

													<div class="controls">

														<input disabled id='messageD' type="text"  class="m-wrap large" name="message" />
														<!-- <span class="help-inline">Some hint here</span> -->

													</div>
												</div>
												<div class="control-group">

													<label class="control-label" >地址信息:</label>

													<div class="controls">

														<input disabled id='addr_idD' type="text" class="m-wrap large" name="addr_id" />
													</div>

												</div>
												
											
												<button id="backButton" type="button" class="btn blue" style="margin-left:25%">返回</button>
											</form>

											<!-- END FORM-->  

										</div>

									</div>

								</div>

							</div>

						</div>

						<!-- END SAMPLE FORM PORTLET-->

					</div>

				</div>

				<!-- 详细信息查看-->         

				<!-- ************************************************************** -->
			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<div id='sss' class="footer">

		<div id='sssss' class="footer-inner">

			2013 &copy; Metronic by keenthemes.

		</div>

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   

	<script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>  

	<script src="media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="media/js/select2.min.js"></script>

	<script type="text/javascript" src="media/js/jquery.dataTables.js"></script>

	<script type="text/javascript" src="media/js/DT_bootstrap.js"></script>

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="media/js/app.js"></script>

	<script src="media/js/table-managed.js"></script>   
	<script type="text/javascript" src="/media/FileSaver.js"></script>
	<script type="text/javascript" src="/media/Blob.js"></script>       

	<script>
	//生成csv文件
	(function(){
		document.getElementById("saveBtn").onclick = function(event){
			event.preventDefault();
			var BB = self.Blob;
			saveAs(
				  new BB(
					  ["\ufeff" + document.getElementById("content_csv").value] //\ufeff防止utf8 bom防止中文乱码
					, {type: "text/plain;charset=utf8"}
				)
				, "order.csv"
			);
		};
	})();
		// 列表中展示的<!--index cardid seller buyer status card_price logistic_price ordertype -->
		// <!--列表中未展示 orderid logistic  logistic_no alipay_id   card_num message  addr_id receive_time-->

		jQuery(document).ready(function() {  
			var statusQuery = <%= status %>; 
			console.log("=====",statusQuery);  
			function createTR(obj,index){
				var date = new Date(obj.create_time);
   				var year = date.getFullYear();
   				var month = date.getMonth()+1;
   				var day = date.getDate();
   				var hour = date.getHours();
   				var minute = date.getMinutes();
   				var str = year+"-"+month+"-"+day+"   "+hour+":"+minute;

				var tr = '<tr class="odd gradeX">'+
					//'<td><input type="checkbox" class="checkboxes" value="1" name="checks"/></td>'+
					'<td>'+index+'</td>';
				// if(obj.paid_tag == 0)
				// 	tr += '<td style="background-color:rgb(182,194,154)">'+obj.orderid+'</td>';
				// else{
				// 	tr += '<td>'+obj.orderid+'</td>';
				// }
				tr += '<td>'+obj.orderid+'</td>';
				tr +='<td>'+''+'</td>'+
					'<td>'+''+'</td>';
					//'<td>'+obj.logistic+'</td>';
				if(obj.status == 0){
					tr += '<td>待付款</td>';
				}
				else if(obj.status == 1){
					tr += '<td>待发货</td>';
				}
				else if(obj.status == 2){
					tr += '<td>待收货</td>';
				}
				else if(obj.status == 3){
					tr += '<td>交易完成</td>';
				}else{
					tr += '<td>交易关闭</td>'
				};

				// tr += '<td>'+obj.alipay_id+'</td>';

				tr += '<td>'+obj.card_price+'</td><td>'+obj.logistic_price+'</td>';
					

				// if(obj.ordertype == 1){
				// 	tr += '<td>现金购买</td>';
				// }
				// else{
				// 	tr += '<td>换卡申请</td>';
				// };
				tr += '<td>'+str+'</td>';	
				// tr += 	'<td>'+obj.addr_id+'</td>'+
				// 		'<td>'+obj.alipay_id+'</td>'+
				// 		'<td>'+obj.receive_time+'</td>';
					//'<td><a href="#" cardId="'+obj.cardId+'" onclick="beSure()">delete</a></td>'+
				tr += '<td><button  orderid="'+obj.orderid+'" ordertype="'+obj.ordertype+'" cardid="'+obj.cardid+'" logistic="'+obj.logistic+'" logistic_no="'+obj.logistic_no+'" alipay_id="'+obj.alipay_id+'" card_num="'+obj.card_num+'" message="'+obj.message+'" addr_id="'+obj.addr_id+'" create_time="'+obj.create_time+'" class="detailButton">详情</button></td>'+
					'<td><button orderid="'+obj.orderid+'" class="deleteButton">删除</button></td>'+
					'<td><button orderid="'+obj.orderid+'" logistic="'+obj.logistic+'" logistic_no="'+obj.logistic_no+'" alipay_id="'+obj.alipay_id+'" card_num="'+obj.card_num+'" message="'+obj.message+'" addr_id="'+obj.addr_id+'" create_time="'+obj.create_time+'" class="updateButton">修改</button></td>'+
					'<td><input type="text" style="width:70px" class="extraInfo" orderid="'+obj.orderid+'" value="'+obj.extra+'"></td>'
					'</tr>';
				return tr;
			};
			function PostAjax(url, obj){
				$.ajax({
			   		type : 'POST',
			   		url : url,
			   		data : obj,
			   		dataType : 'json',
			   		cache : false,
			   		success : function(data){
			   			location.reload();
			   		},
			   		error : function(){
			   			console.log('删除信息失败');
			   		}
		   		}); 
			};
			function getTeleAjax(url, obj, tr){
				console.log("=====begin:");
				console.log(url);
				console.log(obj);
				$.ajax({
			   		type : 'POST',
			   		url : url,
			   		data : obj,
			   		dataType : 'json',
			   		cache : false,
			   		success: function(data){
			   			console.log("后台获取手机号");
			   			console.log(data);
			   			var tds = $(tr).find("td");
			   			console.log($(tds[0]).text());
			   			console.log($(tds[1]).text());
			   			$(tds[2]).html(data.sellerTele);
			   			//$(tds[2]).attr("html",data.sellerTele);
			   			$(tds[3]).html(data.buyerTele);
			   			
			   			//$(td).attr("value",data[0].telephone);
			   		},
			   		error : function(){
			   			alert('获取手机号码失败！');
			   		}
		   		});
			};
			function getStatus(status){
				if(status == 0){
					return "待付款";
				}else if(status == 1){
					return "待发货";
				}else if(status == 2){
					return "待收货";
				}else if(status == 3){
					return "交易完成";
				} else{
					return "交易关闭";
				};
			}
			function getCreateTime(create_time){
				var date = new Date(create_time);
   				var year = date.getFullYear();
   				var month = date.getMonth()+1;
   				var day = date.getDate();
   				var hour = date.getHours();
   				var minute = date.getMinutes();
   				var str = year+"-"+month+"-"+day+"   "+hour+":"+minute;
   				return str;
			}
			function getOrderType(ordertype){
				if(ordertype == 1){
					return "现金购买";
				}
				else{
					return "换卡申请";
				};
			}
			function changeM(message){
				if(message === null){
					return "无";
				}
				var strs = message.split(',');
				var m = "";
				for (var i = 0; i < strs.length; i++) {
					if(m == ""){
						m += strs[i];
					}else{
						m +='.'+strs[i];
					}
				};
				return m;
			}
			function setExtraAjax(url, obj){
				$.ajax({
			   		type : 'POST',
			   		url : url,
			   		data : obj,
			   		dataType : 'json',
			   		cache : false,
			   		success : function(data){
			   			console.log("保存成功");
			   		},
			   		error : function(){
			   			alert("备注信息添加失败");
			   		}
		   		});
			};
			function query(){
				var csv = "卡片id,买家id,买家id,订单状态,卡片总价,物流价格,卡片数量,交易时间,订单类型,物流,运单号,支付宝订单编号,是否打款,留言";
				$.ajax({
			   		type : 'POST',
			   		url : '/webOrder/queryByStatusM',
			   		data : {status:statusQuery},
			   		dataType : 'json',
			   		cache : false,
			   		success : function(data){
			   			var eva = eval(data);
			   			$('tbody').empty();
			   			console.log(eva);
			   			for (var i = 0; i < eva.length; i++) {
			   				var obj = eva[i];
							csv+=" \r\n"+obj.orderid+','+obj.buyer+','+obj.seller+','+getStatus(obj.status)+','+obj.card_price+','+obj.logistic_price+','+obj.card_num+','+getCreateTime(obj.create_time)+','+getOrderType(obj.ordertype)+','+obj.logistic+','+obj.logistic_no+','+obj.alipay_id+','+obj.paid_tag+','+changeM(obj.message);
			  				var tr = createTR(eva[i],i+1);
			   				$('tbody').append(tr);
			   			};
			   			$("#content_csv").attr("value",csv);
			   			eva.forEach(function(obj, index){
			   				var trs = $("tbody").find("tr");
				   			// console.log(trs.length);
				   			// var resultTr;
				   			// for (var i = 0; i < trs.length; i++) {
				   			// 	var tr = trs[i];
				   			// 	tds = $(tr).find("td");
				   			// };
			   				getTeleAjax('/webOrder/tele',{seller:obj.seller, buyer:obj.buyer},trs[index]);
			   			});
			   			$("button.detailButton").click(function(e){
			   				$('div#update').attr('hidden',true);
			   				$('div#query').attr('hidden',true);
			   				$('div#detail').attr('hidden',false);
			   				var tar = $(e.target);
			   				var tr = tar.parent().parent();
			   				var tds = $(tr).find('td');
			   				var cardid = tar.attr("cardid");
			   				var orderid = tar.attr("orderid");
			   				var logistic = tar.attr("logistic");
			   				var logistic_no = tar.attr("logistic_no");
			   				var alipay_id = tar.attr("alipay_id");
			   				var card_num = tar.attr("card_num");
			   				var message = tar.attr("message");
			   				var addr_id = tar.attr("addr_id");
			   				var create_time = tar.attr("create_time");
			   				var ordertype = tar.attr("ordertype") == 0 ? "换卡申请" : "现金购买";
			   				//var cardid = $(tds[1]).text();
			   				var seller = $(tds[2]).text();
			   				var buyer = $(tds[3]).text();
			   				var status = $(tds[4]).text();
			   				var card_price = $(tds[5]).text();
			   				var logistic_price = $(tds[6]).text();
			   				//var ordertype = $(tds[7]).text();
			   				$("input#orderidD").attr({value:orderid});
			   				$("input#logisticD").attr({value:logistic});
			   				$("input#logistic_noD").attr({value:logistic_no});
			   				$("input#alipay_idD").attr({value:alipay_id});
			   				$("input#card_numD").attr({value:card_num});
			   				$("input#messageD").attr({value:message});
			   				$("input#addr_idD").attr({value:addr_id});
			   				var date = new Date(create_time);
			   				var year = date.getFullYear();
			   				var month = date.getMonth()+1;
			   				var day = date.getDate();
			   				var hour = date.getHours();
			   				var minute = date.getMinutes();
			   				var str = year+"-"+month+"-"+day+"   "+hour+":"+minute;
			   				$("input#create_timeD").attr({value:str});
			   				$("input#cardidD").attr({value:cardid});
			   				$("input#sellerD").attr({value:seller});
			   				$("input#buyerD").attr({value:buyer});
			   				$("input#statusD").attr({value:status});
			   				$("input#card_priceD").attr({value:card_price});
			   				$("input#logistic_priceD").attr({value:logistic_price});
			   				$("input#ordertypeD").attr({value:ordertype});
			   				$.ajax({
						   		type : 'POST',
						   		url : '/webOrder/addr',
						   		data : {addr_id:addr_id},
						   		dataType : 'json',
						   		cache : false,
						   		success : function(data){
						   			var eva = eval(data);
						   			console.log("eva的data:",eva.addr.length);
						   			if(eva.addr.length <1){
						   				$("input#addr_idD").attr("value","买家未添加地址信息");
						   			}
						   			else{
						   				var addrInfo = eva.addr[0];
						   				var str = addrInfo.province+ ','+addrInfo.city+','+ addrInfo.district+', 收货人:'+addrInfo.consigee+' ,电话:'+addrInfo.telephone+' ,邮编:'+addrInfo.postcode;
						   				$("input#addr_idD").attr("value",str);
						   			}
						   		},
						   		error : function(){
						   			console.log('删除信息失败');
						   		}
					   		});//ajax
			   			});
			   			$("button.deleteButton").click(function(e){
			   				if(confirm('是否需要删除?')){
			   					var cid = $(e.target).attr('orderid');
			   					console.log(cid);
			   					PostAjax('/webOrder/delete',{orderid:cid});
			   				}
			   			});
			   			//当input输入完毕就执行数据库的添加
			   			$("input.extraInfo").blur(function(){
							var orderid = $(this).attr("orderid");
							var extra = $(this).attr("value");
							setExtraAjax("/webOrder/extra", {orderid:orderid,extra:extra});
						});
			   			/*index  username  gender  email  telephone  score  IDCardNo*/
			   			$("button.updateButton").click(function(e){
			   				if(confirm('是否需要修改卡信息?')){
			   					
			   					$('div#query').attr('hidden',true);
			   					$('div#detail').attr('hidden',true);
			   					$('div#update').attr('hidden',false);
			   					var tar = $(e.target);
				   				var tr = tar.parent().parent();
				   				var tds = $(tr).find('td');
				   				var orderid = tar.attr("orderid");
				   				var cardid = tar.attr("cardid");
				   				var card_num = tar.attr("card_num");
				   				var message = tar.attr("message");
				   				var addr_id = tar.attr("addr_id");
				   				var receive_time = tar.attr("receive_time");
				   				//var cardid = $(tds[1]).text();
				   				var seller = $(tds[2]).text();
				   				var buyer = $(tds[3]).text();
				   				var status = $(tds[4]).text();
				   				var card_price = $(tds[5]).text();
				   				var logistic_price = $(tds[6]).text();
				   				var ordertype = $(tds[7]).text();
				   				$('input#orderid').attr("value",orderid);
				   				$('input#orderid').attr("disabled",true);
				   				$('input#card_price').attr("value",card_price);
				   				$('input#logistic_price').attr("value",logistic_price);
				   				$('input#card_num').attr("value",card_num);
				   				$('input#message').attr("value",message);
				   				var options = $('#status').find('option');
			   					if(status == "待付款"){
			   						$(options[0]).attr("selected",1);
			   					}
			   					else if(status == "待发货"){
			   						$(options[1]).attr("selected",1);
			   					}
			   					else if(status == "待收货"){
			   						$(options[2]).attr("selected",1);
			   					}
			   					else{
			   						$(options[3]).attr("selected",1);
			   					};
			   					
			   				}
			   			})
			   			App.init();

			   			TableManaged.init();
			   		},
			   		error : function(){
			   			alert('查询信息失败');
			   		}
		   		});    
			}
		 	query();
		 	$('#updateSubmit').click(function(e){
		 		//card_price,logistic_price,card_num
		 		var card_price = $("input#card_price").attr("value");
		 		var logistic_price = $("input#logistic_price").attr("value");
		 		var card_num = $("input#card_num").attr("value");
		 		if(!card_num || !card_price || !logistic_price){
		 			alert("请输入完整信息");
		 			return false;
		 		}
				if(confirm('是否确认修改信息?')){
					$('input#orderid').removeAttr('disabled');
					return true;
				}
				else{
					//console.log('点击');
					$('div#update').attr('hidden',true);
					$('div#query').attr('hidden',false);
					return false;
				}
				
			});
		 	$("#detailBtn").click(function(){
				$('#checks').each(function(){
					if(this.checked)
						alert($(this).val());
				});
			});
			$("button#backButton").click(function(e){
				$('div#update').attr('hidden',true);
				$('div#detail').attr('hidden',true);
			   	$('div#query').attr('hidden',false);
				
			});
		
			$("button#batchPay").click(function(e){
				//var tbody = $(tbody);
				var trs = $("tbody").find("tr");
				console.log("tr的数量:",trs.length);
				var arr = [];
				//var str ='';
				for (var i = 0; i < trs.length; i++) {
					var tr = trs[i];
					var check = $(tr).find('input')[0];
					if($(check).attr('checked')){
						var tds = $(tr).find('td');
						if($(tds[4]).text() != "交易完成"){
							alert("只有交易完成才可以确认打款，请检查勾选!");
							return false;
						}
						arr.push($(tds[1]).text());
					}
				};
				if(arr.length == 0){
					alert("请勾选打款");
					return false;
				}
				var str = arr.join(',');
				$.ajax({
			   		type : 'POST',
			   		url : '/webOrder/paid',
			   		data : {orderid:str},
			   		dataType : 'json',
			   		cache : false,
			   		success : function(data){
			   			location.reload();
			   		},
			   		error : function(){
			   			alert('查询信息失败');
			   		}
		   		}); 
				//console.log(arr);
			});

		});

	</script>

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>

<!-- END BODY -->

</html>